<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="mantle-installer">
					<file>tests/test-install-command.php</file>
        </testsuite>
    </testsuites>
</phpunit>
