<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="mantle-installer">
			<directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
